body{
    font-size: 18px;
    background-color: hsl(207, 33%, 95%);
}
.hd{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 61px;
    margin-left: 30px;
}
#lg{
    float: left;
}
.na{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    color: grey;
}
div #ht{
    font-family: Barlow ;
    font-weight: 400, 700;
    color: hsl(255deg 43% 28%);
    position: sticky;

}
a{
    text-decoration: underline;
}
#pa{
    font-size: 17px;
    margin-left: 80px;
    color: grey;
    position: relative;
    bottom: 380px;
}
#btn{
    height: 60px;
    width: 160px;
    border: 1px solid hsl(255deg 43% 28%);
    background-color: hsl(255deg 43% 28%);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 170px;
}
.hh{
    position: absolute;
    left: 60px;
    
}
.con{
    display: flex;
    justify-content: space-around;
}
#m{
    height: 600px;
    width: 500px;
    float: right;
    position: relative;
    left: 300px;
    bottom: 100px;
    
}
div #h{
    display: inline;
    color: gray;
    margin-left: 40px;
    background-color: hsl(255deg 43% 28%);
    border-radius: 30px;
    height: 120px;
    width: 200px;
    padding: 10px;
}
.fo{
    float: left;
}
input{
    height: 60px;
    width: 250px;
    float: left;
    position: absolute;
}
#bt{
    height: 60px;
    width: 160px;
    border: 1px solid hsl(255deg 43% 28%);
    background-color: hsl(255deg 43% 28%);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 270px;
}
.bo{
    position: relative;
}
#lt{
    position:relative;
    bottom: 290px;
    left: 80px;
}
.ft{
    position: relative;
    bottom: 270px;
    left: 80px;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
}
